/*
	使HTML内容与浏览器窗口间没有空隙
*/
body {margin:0px;}	

/*
	浮动面板CSS定义
*/
#panels {
	Z-INDEX: 1000; RIGHT: 12px; POSITION: absolute; TOP: 1px
}
.panel1 {
	BORDER-RIGHT: #56007d 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #56007d 1px solid; PADDING-LEFT: 1px; Z-INDEX: 1000; FILTER: alpha(opacity=90); MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 1px; BORDER-LEFT: #56007d 1px solid; WIDTH: 290px; PADDING-TOP: 1px; BORDER-BOTTOM: #56007d 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffffff; opacity: 0.9
}
.blankPanels {
	; LEFT: expression((this.parentElement.offsetWidth-this.offsetWidth)/2); POSITION: absolute; ; TOP: expression((this.parentElement.offsetHeight-this.offsetHeight)/2)
}
.title {
	WIDTH: 100%; COLOR: #ffffff; PADDING-TOP: 3px; HEIGHT: 15px; TEXT-ALIGN: left
}
.title SPAN {
	CURSOR: pointer
}
.info {
	DISPLAY: none; PADDING-LEFT: 6px; PADDING-TOP: 6px
}

@media Print    
{
HTML {
	FONT-SIZE: 12px; MARGIN: 0px; WIDTH: 100%; HEIGHT: 100%
}
BODY {
	FONT-SIZE: 12px; MARGIN: 0px; WIDTH: 100%; HEIGHT: 100%
}
#header {
	Z-INDEX: 1000; WIDTH: 100%; POSITION: absolute; BACKGROUND-COLOR: white
}
#headertitle {
	DISPLAY: none
}
#noPrintInput {
	DISPLAY: none
}
#noPrintOther {
	DISPLAY: none
}
#div_Ruler {
	DISPLAY: none
}
#page {
	WIDTH: 100%; POSITION: relative; HEIGHT: 100%
}
#maparea {
	WIDTH: 100%; POSITION: relative; HEIGHT: 100%
}
#panels {
	Z-INDEX: 1000; RIGHT: 8px; POSITION: absolute; TOP: 5px
}
#p1t {
	BACKGROUND-COLOR: #cf1b17
}
#p2t {
	BACKGROUND-COLOR: #123ecc
}
#p3t {
	BACKGROUND-COLOR: #fddd62
}
#p4t {
	BACKGROUND-COLOR: #a418ce
}
.panel1 {
	BORDER-RIGHT: #56007d 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #56007d 1px solid; DISPLAY: block; PADDING-LEFT: 1px; Z-INDEX: 1000; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 1px; BORDER-LEFT: #56007d 1px solid; WIDTH: 210px; PADDING-TOP: 1px; BORDER-BOTTOM: #56007d 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffffff
}

}
